---
import Button from '../components/Button.astro';
import { buttonTexts } from '../data/buttonTexts';
---

<div class="grid grid-cols-4 bg-[#f9f8f8] rounded-2xl p-3">
    <h1 class="col-span-4 text-2xl">
        Choose your application
    </h1>
    <div class="col-span-2">
        <Button text={buttonTexts.coffee} />
    </div>
    <div class="col-span-2">
        <Button text={buttonTexts.espresso}/>
    </div>
    <div class="col-span-2">
        <Button text={buttonTexts.coldbrew} />
    </div>
    <div class="col-span-2">
        <Button text={buttonTexts.water}/>
    </div>
    <div class="col-span-2">
        <Button text={buttonTexts.hotwater} />
    </div>
    <div class="col-span-2">
        <Button text={buttonTexts.ice}/>
    </div>
    <div class="col-span-2">
        <Button text={buttonTexts.steam} />
    </div>
    <div class="col-span-2">
        <Button text={buttonTexts.warewasher}/>
    </div>
</div>